.signupPage-container{
    position: relative;
    
}


.sigunPage-image{
    position: absolute;
    background: url("../../../img//Blank\ 2.png");
    width: 100%;
    height: 100%;
    z-index: 0;
}   
